<div class="row">
  <div class="col-3">
    <a class="btn btn-danger mt-3 mb-3 justify-content-center w-25" href="/dashboard"><< Back</a>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-8 mx-auto">
      <form>
        <h2>Create a new blog post</h2>
        <div class="form-group">
          <label for="newPostTitle">Title</label>
          <input type="text" class="form-control" id="newPostTitle" name="newPostTitle" />
        </div>
        <div class="form-group">
          <label for="newPostContent">Content</label>
          <textarea class="form-control entry-field" id="newPostContent" name="newPostContent" style="height: 300px;"></textarea>
        </div>
        <button type="submit" class="btn btn-success mt-3">Post</button>
      </form>
    </div>
  </div>
</div>