<div class="mt-3 mb-3">
  <label for="newPostTitleInput" class="form-label">Title</label>
  <input type="email" class="form-control" id="newPostTitleInput" placeholder="Title">
</div>

<div class="mb-3">
  <label for="newPostTextInput" class="form-label">Text Area</label>
  <textarea class="form-control" id="newPostTextInput" rows="3"></textarea>
</div>

<button type="submit" class="btn btn-primary">Submit</button>