<div class="card mt-5 mb-1">
  <a href="#"><h5 class="card-header fs-4">{{title}}</h5></a>
  <div class="card-body">
    <p class="card-text">Posted by: {{'User.username'}} on {{createdAt}}</p>
  </div>
</div>