<div class="card mt-5 mb-1">
  <h5 class="card-header fs-2">{{title}}</h5>
  <div class="card-body">
    <p class="card-text fs-4">{{content}}</p>
    <p class="card-text fs-6">Posted by: {{'User.username'}} on {{createdAt}}</p>
  </div>
</div>